<table>
  <tbody>
    <tr>
      <td><p>Your order <%= @order.id %> has been received</p></td>
    </tr>
    <tr>
      <td><p>Total amount: <%= @order.total %></p></td>
    </tr>
  </tbody>
</table>