// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-reviews {
	color:  #4e552b;
	font-weight: bold;
	text-align: center;
	font-family: 'bebas_neue_regularregular',sans-serif;
	margin-top:20px;

}