// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-list h1{
	color:  #4e552b;
	font-weight: bold;
	text-align: left;
	font-family: sans-serif;
	margin-top:20px;

}

.product-table{
	border:1px solid #4e552b;
    width: 100%;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.show-product{
	
	display:inline-block;
}

.show-img-product{
	float:left;
}

.show-inf-product{
	float:right;
}

.show-comm-product{
	width:80%;
}

.links-page{
	width:20%;
	margin:auto;
}