// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-prod-header{
	background-color: #4e552b;
	font-size:-1.2em; 
	color: white;
	font-weight: bold;	
}

.welcome-header{
	margin-bottom:0px;
	padding-bottom:28px;
	padding-top:68px;
	text-align:center;

}

.img-test{
	
	margin: 0 auto;
	width:30%;
}

/*Footer*/

.twitter{
	margin-left:auto;
	padding:20px;
	float: left;
	background-color:transparent;

}

.fb-like {
	float:left;
	padding:20px;
	background-color:transparent;

	
	}

.copyright{
	background-color:transparent;
	margin:0 auto;
	text-align:center;
	margin-top:10px;

}

.footer-block{
	
	display:inline-block;	
	background-color:#E4E9ED;
	width:100%;
	padding-top:10px;
}


.video{

	margin:0 auto;
	padding:20px;
	width:50%;
}

.social-section {
	margin:0 auto;
	display:block;
	width:50%;
	
}
.social-section li {
	display:inline-block;
	list-style-type: none;
	padding: 5px;
}


.social-wrapper{
	margin:0 auto;
	text-align:center;
	}


.modal-body{
	height:500px;
}

#modalframe {

	height:100%;
	width:100%;
	padding:10px;
	margin:0 auto;
	
	
}


/*Navigation bar*/
.navbar-fixed-top {
    border-width: 0 0 0px;
}

.container-fluid{
	background-color: #4e552b;
}

.navbar-collapse {
  	float: right;
	text-transform: uppercase;
	font-weight: bold;  

	transition: color 600ms;
	-webkit-transition: color 600ms;
}
.collapse{

	width: 100%;
}


.navbar-inverse .navbar-nav > li > a{

	color: #428bca;
	text-shadow: none;

}

.projectName {
	color: #428bca;
	float: left;
	margin-left:50px;
	margin-top:20px;
  	
 }

 .projectName a{
	
  	font-family:  "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  	text-decoration: none;

 }

 .projectName p{
 	font-size:1.2em;

 }


.mainmenu ul li{
	display: inline;
	float: right;
	padding: 0px 10px 10px;
}

.mainmenu {
	
	float: right;
	background-color: #4e552b;
	height: 60px;
	top: 0;
	padding: 5px 10px 5px;
	z-index: 1000;
	list-style: none;
}

.mainmenu ul li a{
	text-transform: uppercase;
	font-weight: bold;  
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

a, a:active {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  outline: 0;}

a:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}
